# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.idb
*.tlog
/.vs/4618_Template/v16/*.suo
/.vs/4618_Template/v16/*.db
/build/4618_Client/x64/Debug/*.ilk
/build/4618_Client/x64/Debug/*.pdb
/build/4618_Client/x64/Debug/obj/*.log
/build/4618_Client/x64/Debug/obj/*.pdb
/build/4618_Template/x64/Debug/*.ilk
/build/4618_Template/x64/Debug/*.pdb
/build/4618_Template/x64/Debug/obj/*.log
/build/4618_Template/x64/Debug/obj/*.pdb
/.vs/4618_Template/v16/*.opendb
/*.user
